{% include 'navbar.html'%}
{%block content%}
<div style="text-align:center">
<h2>Change Password</h2>
<style>
.btn > input{
	all: unset;
	color: white;
}
</style>
<form action="" method="post" novalidate>
{{ form.hidden_tag() }}
<p>
	{{ form.current_password(size=40) }}
</p>
<p>
	{{ form.password(size=40) }}
</p>
<p>
	{{ form.password2(size=40) }}
</p>
<p class="btn btn-primary btn-lg"> {{ form.submit() }} </p>

{% if invalid_pass -%}
<p>Invalid current password!</p>
{% endif %}

{% if pass_not_match -%}
<p>Verification not match!</p>
{% endif %}
</form>
<div>
{%endblock%}
{% include 'footer.html'%}
